* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; //explicar para que serve
}

body {
  background-color: $bg-color;
}

body,
input,
button {
  font: 16px Roboto, sans-serif;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

header#main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $header-main-a;
    transition: color 0.4;

    &:hover {
      color: darken($header-main-a, 20);
    }

    i {
      margin-right: 4px;
    }
  }
}

button{
  cursor: pointer;
}
