section.container {
  h1 {
    font-size: 48px;
    color: $card-index-h1-color;
    max-width: 450px;
    line-height: 56px;
    margin-top: 80px;
  }
}

form#create-card {
  margin-top: 40px;
  max-width: 700px;

  display: flex;

  input {
    flex: 1;
    height: 40px;
    padding: 0 24px;
    border-radius: 15px 0 0 15px;
    color: $f-create-card-input-color;
    border: 2px solid $f-create-card-input-bgc;
    border-right: 0;

    &.error {
      border-color: $error-color;
    }

    &::placeholder {
      color: lighten($f-create-card-input-color, 30);
    }
  }

  button {
    width: 210px;
    height: 40px;
    background: #4e51bf;
    border-radius: 0px 15px 15px 0px;
    border: 0;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover {
      background: lighten(#4e51bf, 5);
    }
  }


}


.cards{
  margin-top: 40px;
  max-width: 700px;

  a{
    background: darken( #fff, 0);
    border: 1px solid #4e51bf;
    border-radius: 15px;
    width: 100%;
    padding: 12px;
    display: block;
    text-decoration: none;

    display: flex;
    align-items: center;
    transition: transform 0.5s;

    & + a {
      margin-top: 16px;
    }

    &:hover{
      background: lighten(#ffe9ce, 80);
      transform: translateX(10px);
    }

    img{
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    div{
      margin-left: 16px;

      strong{
        font-size: 20px;
        color: #4e51bf;
      }

      p{
        font-size: 18px;
        color: #24252a;
      }

    }

    i{
      size: 70px;
      color: #ff92a4;
      margin-left: auto;
    }
  }
}
